.custom-header {
   display: flex;
    margin: 3rem 0;
    justify-content: center;
    align-items: center;

    h1 {
        font-weight: lighter;
        padding-bottom: .8rem;
        position: relative;
    }
    
    h1::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px solid #fff;
        transform: scaleX(.8);

    }

}